<footer id="footer">
	<div class="container">
		<table class="table"><tr>
			{% for row in stages %}
				
					<td>
						<span style="font-size:10px; margin-right:5px;">{{ stats['stages'][loop.index0] }}</span>
						<div class="item item-{{ loop.index0 }}">&nbsp;</div>{{ row }}
					</td>
					
				
			{% endfor %}</tr>
		</table>
		
		
		
		
		
		 
	</div>
</footer>