<footer id="footer">
	<div class="container">
		
		<div class="col-sm-2">
			<div class="item item-0">&nbsp;</div>0 - 50
		</div>
		<div class="col-sm-2">
			<div class="item item-1">&nbsp;</div>50 - 100
		</div>
		<div class="col-sm-2">
			<div class="item item-2">&nbsp;</div>100 - 200
		</div>
		<div class="col-sm-2">
			<div class="item item-3">&nbsp;</div>200+
		</div>
		<div class="col-sm-2">
			<div class="item item-4">&nbsp;</div>Failed
		</div>
		
		
		
		 
	</div>
</footer>