#chart-area {
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 0;
  white-space: nowrap;
}
#chart-area div#inner {
  transform-origin: 0 0;
  float: left;
}
#chart-area div#inner:hover .hour {
  opacity: 0.3;
}
#chart-area .hour {
  transform-origin: 0 0;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
}
#chart-area .hour:hover {
  cursor: pointer;
  background: #f1f1f1;
  opacity: 1!important;
}
#chart-area .item {
  display: inline-block;
  vertical-align: bottom;
  width: 1px;
  margin-right: 0px;
}
#chart-area .seperator {
  background: #f1f1f1;
  height: 100%;
  width: 20px;
  position: relative;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#chart-area .seperator div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 11px;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
#chart-area .horizontal-lines {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  border-bottom: 1px dotted #ccc;
  height: 1px;
}
#footer .item {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
